html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  width: 100%;
  background-color: rgb(137,193,220);
  height: 100 px;
  position: fixed;
  z-index: 10;
}
.Hlogo {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hlogo .HText {
  font-family: 'Balsamiq Sans', cursive;
  width: 100%;
  height: 100%;
  max-width: 150px;
}
.text1, .text2, .text3 {
  font-size: 40px;
  margin-top: -20px;
  margin-bottom: 0;
}
.Hlogo .text1 {
  margin-top: -15px;
}
.Hlogo .text2 {
  text-align: center;
}
.Hlogo .text3 {
  float: right;
  margin-top: -10px;
  margin-bottom: -20px;
} 
.Hlogo .SVGSet .FrontLogo, .Hlogo .SVGSet .MoonIcon {
  width: 100%;
  max-width: 70px;
  height: 100%;
  max-height: 70px;
  display: inline-block;
  border: none;
}
.wrapper .Hlogo .InputLogin, .wrapper .Hlogo .InputPassword{
  display: block;
  margin-bottom: 10px; 
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 70px;
}
.wrapper .Hlogo .Hright a {
  font-size: 12px;
  display: block;
  margin-top: 5px;
}